{% extends "layout.html" %}
{% block content %}

<div class="home">
    <h2>Cluster</h2>
    <hr></hr>
	<form method="POST">
        <div class="grid-container">
			<button type="submit" name="button" value="C 0 0">C 0 0</button>
			<button type="submit" name="button" value="C 0 1">C 0 1</button>
			<button type="submit" name="button" value="C 0 2">C 0 2</button>
			<button type="submit" name="button" value="C 1 0">C 1 0</button>
			<button type="submit" name="button" value="C 1 1">C 1 1</button>
			<button type="submit" name="button" value="C 1 2">C 1 2</button>
			<button type="submit" name="button" value="C 2 0">C 2 0</button>
			<button type="submit" name="button" value="C 2 1">C 2 1</button>
			<button type="submit" name="button" value="C 2 2">C 2 2</button>
        </div>
    </form>
	<div class="row">
		<div class="col">
			<div class="card one">
				<div class="top">
					<div class="wrapper">
                        <p>Power Source</p>
							
					</div>
				</div>
				<div class="middle">
					<div class="wrapper">
                        <p>Mining Pool</p>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
                        <p>Container Status</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}