/*HEADER*/
header {
  background-color: #5ca368;
  height: 40px;
  width: auto;
  opacity: .9;
  margin-bottom: 20px;
  text-align: center;
}
header h1.logo {
  margin-left: 10px;
  margin-top: 0px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
h1 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 80;
  letter-spacing: -1.5px;
}
/*MENU*/
.menu {
  float: right;
  margin: 10px;
}
.menu li {
  display: inline;
  text-align: center;
}
.menu li + li {
  text-align: center;
  margin-left: 35px;
}
.menu li a {
  text-align: center;
  color: #111010;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-top: 30px;
}

/*BODY*/
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111010;
}
.container {
  /*Centering the body content*/
  width: auto;
  margin: auto;
}
div.home {
  padding: 10px 10px 30px 10px;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  text-align: center;
}
/*CONTENT(INPUT,TABLE,BUTTON,...)*/
h2 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111010;
}
p {
  font-size: 1em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111010;
}
button{
  font-size: 1.0em;
  font-weight: 100;
  margin-top: 10px;
  text-align: center;
}
input{
  font-size: 1.0em;
  font-weight: 100;
  margin-top: 10px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
}
/*card*/
.card {
  margin: 20px auto;
  height: auto;
  width: 450px;
  /* background: #fff; */
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
}
.card .top {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  background-color:#5C73A3;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color:#000
}
.card .top .wrapper {
  padding: 5px;
  position: relative;
  z-index: 1;
}
.card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.card .top .wrapper .power {
  margin: 10px;
}
.card .top .wrapper .temp .power-value {
  display: inline-block;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.card .middle {
  padding: 0 30px;
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  background-color:#A35C97;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color:#000
}

.card .middle .wrapper {
  padding: 5px;
  position: relative;
  z-index: 1;
}

.card .middle .wrapper .li-without-bullets {
  list-style-type: none;
}
.card .bottom {
  padding: 0 30px;
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  background-color:#A38C5C;
  background-blend-mode:lighten;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color:#000
}
.card .bottom .wrapper {
  padding: 5px;
  position: relative;
  z-index: 1;
}
.card .bottom .wrapper .li-without-bullets {
  list-style-type: none;
}